h1 {
    font-family: 'Arial Narrow Bold', sans-serif;
    color: red;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

body {
    background-color: rgba(154, 116, 75, 0.461);
    background-image: url("img/paisley.png");
    background-repeat: no-repeat;
    background-position: center;
}