h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-variant: small-caps;
    font-style: italic;
}

p {
    font-family: monospace;
    font-size: 12px;
    font-weight: 700;
    font-style: italic;
    line-height: 25px;
}